.img {
  border-radius: 50%;
  width: 140px;
}

.input-area-edit {
  width: 220px;
  height: 25px;
  margin-left: 40px;
  display: inline-block;
}

.textarea-style {
  width: 220px;
  height: 80px;
  margin-left: 40px;
}

.label-area {
  font-size: 15px;
  width: 100px;
  flex: 0 0 150px;
}

.button-edit {
  width: 150px;
  height: 40px;
  background-color: rgb(179, 87, 1);
  font-size: 17px;
  font-weight: bold;
}

.error-style-edit {
  color: rgb(107, 1, 1);
  font-size: 15px;
  text-align: left;
}

.form-header {
  background-color: rgb(136, 130, 130);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-weight: bold;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding-left: 30px;
  padding-top: 100px;
}

.item.field {
  display: flex;
  margin-bottom: 6pt;
  max-width: 650px;
  min-width: 300px;
}
